body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 100%;
  background-repeat:no-repeat;
  background-image: url("/shutterstock_547438333.jpg");
  height: 80%;
}
.home{
  font-family: Fantasy, sans-serif;
  font-style: oblique;
  font-weight: bold;
  color:black;
  position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.aboutHeader{
  font-family: fantasy,sans-serif;
}

.servicesHeader{
  font-family: fantasy,sans-serif;
}

.contactHeader{
  font-family: fantasy,sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
